body {
  font-family: Arial, Helvetica, sans-serif;
}


/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 99999999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-body p {
  text-align: center;
  line-height: 20px;
  margin: 10px 0;
  font-size: 14px;
  font-family: gotham-light;
  color: #606266;
}


/* Modal Content */

.req-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 4px solid #03d9e8;
  width: 80%;
  height: auto;
  padding-bottom: 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 4px solid #03d9e8;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  border-radius: 25px 0px 0 0;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.form-content p {
  font-family: gotham-light;
  font-size: 15px;
  color: #fff;
}

.modal-header {
  padding: 2px 16px;
  background-color: #fefefe;
  color: #16162c;
}

.modal-body {
  padding: 2px 5rem;
}


/* The Close Button */

.close,
.closeForm {
  color: #16162c;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.closeForm:hover,
.closeForm:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-footer {
  padding: 30px 16px;
  background-color: #fefefe;
  color: #16162c;
  text-align: center;
  width: 100%;
  display: block;
}

.modal-footer .ani-box {
  width: 33.33%;
  display: inline-block;
  float: left;
}

.add-box {
  width: 33.33%;
  display: inline-block;
  float: left;
  padding: 7rem 2rem;
  background: url(../images/form-left.png);
  /* background-color: white; */
  border-radius: 20px 20px 0 0;
  background-size: cover;
  background-position: 50%;
  height: 100%;
}

.form-box {
  width: 66.66%;
  display: inline-block;
  float: left;
  padding: 2rem;
}

.pos-rel {
  position: relative;
  margin-bottom: 15px;
}

.inner-image {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer-ring {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line-one {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 14px
}

.line-two {
  margin-top: 0px;
  font-size: 14px;
}
.accred{
  background-color: #2f2b68;
}
.row {
  width: 100%;
}
.col-2{
  width:16%;
  display: inline-block;
}
.accred-img{
      margin: 40px;
    border: thin solid;
}
.col-6 {
  width: 48%;
  display: inline-block;
  float: left;
  padding: 0 10px 0 0;
}

.input-field {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: 14px;
  font-family: gotham-light;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%;
  margin-bottom: 22px;
}

.textarea-field {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: 14px;
  font-family: gotham-light;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 94%;
  margin-bottom: 22px;
}

.req-form-heading {
  font-family: gotham-light;
  font-size: 38px;
  font-weight: 400;
}

.mob-only {
  display: none;
}

.desk-only {
  display: block;
}

.footer-main {
  padding: 90px 16px;
  background-color: #fefefe;
  color: #16162c;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 150px;
}

.footer-main .ani-box {
  width: 33.33%;
  display: inline-block;
  float: left;
  font-family: gotham-light;
  font-size: 16px;
}

.footer-main .inner-image {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-main .outer-ring {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-main .line-one {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 16px
}

.footer-main .line-two {
  margin-top: 0px;
  font-size: 16px;
}

.fl-right {
  float: right;
}

.text-img h4 {
  color: #fff;
  text-align: right;
  font-family: gotham-light;
  font-weight: 400;
  margin-bottom: 0px;
}

#bullet ul {
  list-style: none;
}

#bullet ul li::before {
  content: "\2022";
  color: #262262;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#bullet {
  margin: 20px 0px 5rem 0px;
}

.desk-center {
  text-align: center;
}

@media (max-width: 800px) and (min-width: 600px) {
  #bullet {
    margin: auto;
  }
  .modal-content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .desk-center {
    text-align: left;
  }
  .modal-footer .ani-box {
    width: 100%;
    display: block;
    float: none;
    padding: 20px;
  }
  .modal-body {
    padding: 2px 10px;
  }
  .modal-content {
    width: 95%;
    margin-top: 100px;
  }
  .req-modal-content {
    width: 95%;
    padding-bottom: 0px;
  }
  .row {
    width: 100%;
  }
  .col-6 {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 0 5px 0 0;
  }
  .add-box {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 2rem;
    background: url(../images/form-left.png);
    /* background-color: white; */
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: 50%;
    height: 100%;
  }
  .form-box {
    background-color: #fff;
    width: 100%;
    display: inline-block;
    float: left;
    padding: 2rem;
  }
  .textarea-field {
    width: 98%;
  }
  #callbackModal .join_btn {
    background-color: #262262;
    color: #fff;
    padding: 14px 22px;
    height: 48px;
    border-radius: 5px;
    width: 140px;
    margin-top: 0px;
  }
  .req-form-heading {
    font-size: 26px;
  }
  .modal-content {
    border: none;
  }
  .mob-only {
    display: block;
  }
  .desk-only {
    display: none;
  }
  .footer-main .ani-box {
    width: 100%;
    float: none;
    margin-top: 3rem;
  }
  .fl-right {
    float: none;
  }
  .text-img h4 {
    text-align: center;
  }
  .footer-main {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .footer-main .line-one {
    font-size: 20px
  }
  .footer-main .line-two {
    font-size: 20px;
  }
  .col-2{
    width:32.33%;
    display: inline-block;
  }
  .accred-img{
    margin: 20px 0px;
    width: 100%;
    border: thin solid;
  }
}